*{ margin: 0;
    padding: 0;box-sizing: border-box;

}
.img_big{
    width: 980px;
    height: auto;
    margin: 0 auto;
    
}
#hinh{
    margin-top: 100px;
    position: relative;
    width: 100%;
    height: 500px;

}
#hinh >img{
    width: 100%;
    height: 100%;

}
#hinh .dau{
    position: relative;
    display: flex;
    justify-content: space-between;
     bottom: 60%;
    /* align-self: center; */

}
.dau >i{
color: #cccc;
font-size: 80px;

}
.dau >i:hover{
    background-color: rgb(4, 0, 2,0.2);
}
#hinh .bnt-div{
    position: absolute;
    bottom: 0;
    display: flex;
   left: 30%;
}
button {
    border: none;
    width: 90px;
    height: 30px;
    color: rgb(21, 18, 18);
    background-color: #dddd;
    border-radius: 5px;
    margin: 10px;
}
button:hover{
    background-color: #cccc;
    color: red;
}
p{
    text-align: center;

}
